{% extends "blog/base_table.html" %}

{% block content %}

<section>

    <navleft>

        <h3>Advisor:</h3>
        <h4 style="color: #1122ff">{{ selected.Name }}</h4>

        <div class="vertical-menu">
            {% for adv in advisors %}
                <a href="/advisor/{{ adv.id }}">{{ adv.Name }}</a>
            {% endfor %}
        </div>

    </navleft>


    <table style="width:800px; margin:0 auto; float: left;">
        <tr>
        {% for col in colnames %}
            <th>{{ col }}</th>
        {% endfor %}
        </tr>

        {% for item in companys %}
        <tr>
            <td style="width:400px; text-align: left;">{{ item.Name     }}</td>
            <td>{{ item.CUSIP    }}</td>
            <td>{{ item.SecId    }}</td>
            <td>{{ item.FundId   }}</td>
        </tr>
        {% endfor %}
    </table>
    

</section>



{% endblock content %}
