{% extends "blog/base_table.html" %}

{% block table_content %}


<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Add icon library for buttons, 
    ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_icon_buttons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
* { box-sizing: border-box; }
body { font: 16px Arial; }

/* Create two columns/boxes that floats next to each other */
navleft {
  float: left;
  width: 400px;
  height: 93vh;
  overflow-y: scroll;
  background: #ccddee;
  padding: 0px 30px 30px 30px; /* t, r, b, l */
}

.tab {
  width: 900px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding-left: 20px;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-weight: bold;
  font-size: 17px;
}
.tab button:hover {
  background-color: #eee;
}
.tab button.active {
  background-color: #ddd;
  color: DodgerBlue;
  font-weight: bold;
}
.tablecontainer {
  padding-top: 43px;
  position: relative;
  background: #eaeaea;
  float:left;
}
.tabcontent {
  height:82vh;
  padding-right:10px; 
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  float: left;
  overflow-y:auto;
}

.searchTitle {
    margin-top: 10px;
    font-weight: bold;
}
/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 67%;
  height: 36px;
}
input[type=text].active {
  background-color: #fff;
  width: 38%;
  height: 36px;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.selectedNamesDiv {
    height:100px;
    background-color:#fff;
    overflow:auto;
}
.blankMarginDiv { height: 5px; }
.btn {
  border: none;
  color: dodgerblue;
  background-color: #eee;
  height: 36px;
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.searchTitle {
  top: 0px;
  padding: 6px 0px 0px 0px; /* t, r, b, l */
}

.okBtn:hover  { background: #fff; }
.okBtn {
  width: 20%;
  margin-left: 3px;
  font-weight: bold;
  display: none;
}
.allBtn:hover  { background: #fff; }
.allBtn {
  width: 26%;
  margin-left: 3px;
  display: none;
}

.clearUlButton:hover {background-color: #ffb3b3;}
.clearUlButton {
  width: 18%;
  height: 100%;
  color: #cc3300;
  display: inline-block;
}

.clearAllButton:hover {background-color: #ffb3b3;}
.clearAllButton {
  color: #cc3300;
  float: left; 
  width: 27%;
  height: 40px;
  border-radius: 5px; 
  margin-top: 10px; 
  margin-bottom: 10px;
  display: inline-block;
}

.submitButton:hover {background-color: deepskyblue;}
.submitButton {
  float: right;
  width: 70%;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.showUl {width: 12%;}
.showUl:hover {
    background: #fff;
    font-weight: bold;
}
ul {
  padding: 0;
  overflow-y: scroll;
}
ul li:nth-child(odd)  { background: #efefef; }
ul li:hover           { background: #ddf; }
ul li {
  position: relative;
  padding: 6px 20px 6px 10px; /* t, r, b, l */
  list-style-type: circle;
  font-size: 16px;
  transition: 0.2s;
}

.liBtn:hover { background-color: Red; }
.liBtn {
  height: 23px;
  width: 23px;
  position: absolute;
  top: 4px;
  right: 6px;
  border-radius: 50%;
  background-color: DodgerBlue;
  border: none;
  color: white;
  margin-left: 6px;
  padding: 0px 3px;
  font-size: 14px;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
/*when hovering an item:*/
.autocomplete-items div:hover { background-color: #e9e9e9; }
.autocomplete-items div:click { background-color: #22ff33; }
/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #fff; 
}

.vertical-menu {
    height: 500px;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}
.vertical-menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}
.vertical-menu a:hover { background-color: #cceeee; }
.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

tr th:first-child div {
    padding: 15px 0px 0px 20px; 
    width: 50px;
    border: none;
}
td, th {
  padding: 10px 10px;
}
.performance-float {
  width: 100px;
}
th {
  height: 0;
  line-height: 0;
  padding: 0px 50px 0px 10px;
  color: transparent;
  border: none;
  white-space: nowrap;
}
th div{
  position: absolute;
  height: 44px;
  color: #101066;
  padding: 14px 10px;
  top: 0;
  margin-left: -10px;
  line-height: normal;
  border-left: 1px solid #aabbdd;
}
tbody tr td {
  text-align: left;
}

td.width_xs { width: 60px; }
td.width_s { width: 100px; }
td.width_m { width: 140px; }
td.width_l { width: 200px; }
td.width_xl { width: 300px; }

td.green { background-color: #afffbb; }
td.white { background-color: #fff; }
td.yellow { background-color: #fff78e; }
td.red { background-color: #fc887e; }


</style>
</head>     

<body>


<section class="scrollable" style="width: 6610px;">

    <navleft>
        <div style="width: 100%;">
            <form method="POST" autocomplete="off" action="fit-default">
                {% csrf_token %}
                <div style="padding-top: -30px;">
                  <button type="button" class="btn clearAllButton" id="clearAllButton" onclick="clearAllButtonTapped()">Clear All</button>
                  <input type="submit" class="submitButton" id="submitButton" onclick="submitButtonTapped()">
                </div>

                <h6 class="searchTitle">Advisor:</h6>
                <div class="autocomplete" style="width:100%;">
                    <input type="text" name="myAdvisor" id="searchAdvisorInput" placeholder="Advisor Name">
                    <button type="button" class="btn showUl" id="lstAdvisors" onclick="showFullAdvisorList()">
                        <i class="fa fa-list-ul" id="btnI"></i></button>
                    <button type="button" class="btn okBtn" id="okAdvisors" onclick="okButtonTapped()">OK</button>
                    <button type="button" class="btn allBtn" id="allAdvisors" onclick="addAllButtonTapped()">Add All</button>
                    <button type="button" class="btn clearUlButton" id="clearAdvisors" onclick="clearSelectedAdvisorList()">Clear</button>
                </div>
                <div class="blankMarginDiv"></div>
            
                <div id="selectedAdvisorNamesDiv" class="selectedNamesDiv">
                    <ul id="selectedAdvisorUl"></ul>
                </div>


                <h6 class="searchTitle">Category:</h6>
                <div class="autocomplete" style="width:100%;">
                    <input type="text" name="myMSCat" id="searchMSCatInput" placeholder="MSCat Name">
                    <button type="button" class="btn showUl" id="lstMSCats" onclick="showFullMSCatList()">
                        <i class="fa fa-list-ul" id="btnI"></i></button>
                    <button type="button" class="btn okBtn" id="okMSCats" onclick="okButtonTapped()">OK</button>
                    <button type="button" class="btn allBtn" id="allMSCats" onclick="addAllButtonTapped()">Add All</button>
                    <button type="button" class="btn clearUlButton" id="clearMSCats" onclick="clearSelectedMSCatList()">Clear</button>
                </div>
                <div class="blankMarginDiv"></div>

                <div id="selectedMSCatNamesDiv" class="selectedNamesDiv">
                    <ul id="selectedMSCatUl"></ul>
                </div>


                <h6 class="searchTitle">SubAdvisors:</h6>
                <div class="autocomplete" style="width:100%;">
                    <input type="text" name="myMSSubAdv" id="searchMSSubAdvInput" placeholder="MSSubAdv Name">
                    <button type="button" class="btn showUl" id="lstMSSubAdvs" onclick="showFullMSSubAdvList()">
                        <i class="fa fa-list-ul" id="btnI"></i></button>
                    <button type="button" class="btn okBtn" id="okMSSubAdvs" onclick="okButtonTapped()">OK</button>
                    <button type="button" class="btn allBtn" id="allMSSubAdvs" onclick="addAllButtonTapped()">Add All</button>
                    <button type="button" class="btn clearUlButton" id="clearMSSubAdvs" onclick="clearSelectedMSSubAdvList()">Clear</button>
                </div>
                <div class="blankMarginDiv"></div>

                <div id="selectedMSSubAdvNamesDiv" class="selectedNamesDiv">
                    <ul id="selectedMSSubAdvUl"></ul>
                </div>


                <h6 class="searchTitle">Manager Names:</h6>
                <div class="autocomplete" style="width:100%;">
                    <input type="text" name="myMgr" id="searchMgrInput" placeholder="Manager Name">
                    <button type="button" class="btn showUl" id="lstMgrName" onclick="showFullMgrList()">
                        <i class="fa fa-list-ul" id="btnI"></i></button>
                    <button type="button" class="btn okBtn" id="okMgrName" onclick="okButtonTapped()">OK</button>
                    <button type="button" class="btn allBtn" id="allMgrName" onclick="addAllButtonTapped()">Add All</button>
                    <button type="button" class="btn clearUlButton" id="clearMgrName" onclick="clearSelectedMgrList()">Clear</button>
                </div>
                <div class="blankMarginDiv"></div>

                <div id="selectedMgrNamesDiv" class="selectedNamesDiv" style="margin-bottom: 20px;">
                    <ul id="selectedMgrUl"></ul>
                </div>

                <div>
                  <button type="button" class="btn clearAllButton" id="clearAllButton" onclick="clearAllButtonTapped()">Clear All</button>
                  <input type="submit" class="submitButton" id="submitButton" onclick="submitButtonTapped()">
                </div>

            </form>
        </div>
        <h6 style="height:20px; margin-top:10px; color:#008800">
            Total results: {{ companys|length }}
        </h6>


<script>

var SearchTypeEnum = Object.freeze({ "Advisor":"adv", "MSCat":"cat", "MSSubAdv":"sub", "MgrName":"mgr" });
var currSearchType = SearchTypeEnum.Advisor;
var currentFocus;

var allAdvs = {{ advisorNames|safe }};
var allMSCats = {{ mscatNames|safe }};
var allMSSubs = {{ mssubadvNames|safe }};
var allMgrs = {{ mgrNames|safe }};

var idOfAdvisorName = {{ idOfAdvisorNameDict|safe }};
var idOfMSCatName = {{ idOfMSCatNameDict|safe }};
var idOfMSSubAdvName = {{ idOfMSSubAdvNameDict|safe }};
var idOfMgrName = {{ idOfMgrNameDict|safe }};

var selectedAdvisorNames = {{ selectedAdvisorNames|safe }};
var selectedMSCatNames = {{ selectedMSCatNames|safe }};
var selectedMSSubAdvNames = {{ selectedMSSubAdvNames|safe }};
var selectedMgrNames = {{ selectedMgrNames|safe }};

/*initiate the autocomplete function on the "searchAdvisorInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(SearchTypeEnum.Advisor, document.getElementById("searchAdvisorInput"), allAdvs);
autocomplete(SearchTypeEnum.MSCat, document.getElementById("searchMSCatInput"), allMSCats);
autocomplete(SearchTypeEnum.MSSubAdv, document.getElementById("searchMSSubAdvInput"), allMSSubs);
autocomplete(SearchTypeEnum.MgrName, document.getElementById("searchMgrInput"), allMgrs);

setupselectedAdvisorNames();
setupselectedMSCatNames();
setupselectedMSSubAdvNames();
setupselectedMgrNames();

function showFullAdvisorList() {
    constructSearchList(allAdvs, SearchTypeEnum.Advisor);
}
function showFullMSCatList() {
    constructSearchList(allMSCats, SearchTypeEnum.MSCat);
}
function showFullMSSubAdvList() {
    constructSearchList(allMSSubs, SearchTypeEnum.MSSubAdv);
}
function showFullMgrList() {
    constructSearchList(allMgrs, SearchTypeEnum.MgrName);
}

function constructSearchList(arr, searchTypeEnum) {
    closeAllLists();
    var fieldId = "";
    switch (searchTypeEnum) {
        case SearchTypeEnum.Advisor:
            fieldId = "searchAdvisorInput";
            break;
        case SearchTypeEnum.MSCat:
            fieldId = "searchMSCatInput";
            break;
        case SearchTypeEnum.MSSubAdv:
            fieldId = "searchMSSubAdvInput";
            break;
        case SearchTypeEnum.MgrName:
            fieldId = "searchMgrInput";
            break;
        default:
            console.log("--- [ERROR] wrong type: " + searchTypeEnum);
            return;
    }
    currSearchType = searchTypeEnum;

    var textField = document.getElementById(fieldId);
    var a, c, i;
    /*create a DIV element that will contain the items (values):*/
    a = document.createElement("DIV");
    a.setAttribute("id", textField.id + "autocomplete-list");
    a.setAttribute("class", "autocomplete-items");
    textField.parentNode.appendChild(a); /*append DIV as a child of autocomplete container:*/

    // the scroll container for search result list
    c = document.createElement("DIV");
    c.setAttribute("class", "vertical-menu");
    c.setAttribute("id", "autocompleteMenuDiv");
    a.appendChild(c);

    for (i = 0; i < arr.length; i++) {
        var targetName = arr[i];
        /*create a DIV element for each matching element:*/
        var divB = document.createElement("DIV");
        divB.innerHTML = targetName;
        divB.innerHTML += "<input type='hidden' value='" + targetName + "'>";

        divB.setAttribute("id", targetName); // show item that already selected;
        if (searchTypeEnum == SearchTypeEnum.Advisor && selectedAdvisorNames.includes(targetName)) {
            divB.classList.add("autocomplete-active");
        } else
        if (searchTypeEnum == SearchTypeEnum.MSCat && selectedMSCatNames.includes(targetName)) {
            divB.classList.add("autocomplete-active");
        } else
        if (searchTypeEnum == SearchTypeEnum.MSSubAdv && selectedMSSubAdvNames.includes(targetName)) {
            divB.classList.add("autocomplete-active");
        } else
        if (searchTypeEnum == SearchTypeEnum.MgrName && selectedMgrNames.includes(targetName)) {
            divB.classList.add("autocomplete-active");
        }

        divB.addEventListener("click", function(e) {
            didSelectSearchListItem(searchTypeEnum, this);
        });
        c.appendChild(divB);
    }
}

function removeSelectFromAutoComplete(div, selectName, searchTypeEnum) {
    div.classList.remove("autocomplete-active");
    removeLiByName(selectName, searchTypeEnum);
}

function animateButtonsFor(searchTypeEnum, isShowing) {
    var textFieldId, lstBtnId, okBtnId, allBtnId, clrBtnId;
    switch (searchTypeEnum) {
      case SearchTypeEnum.Advisor:
          textFieldId = "searchAdvisorInput";
          lstBtnId = "lstAdvisors";
          okBtnId = "okAdvisors";
          allBtnId = "allAdvisors";
          clrBtnId = "clearAdvisors";
          break;
      case SearchTypeEnum.MSCat:
          textFieldId = "searchMSCatInput";
          lstBtnId = "lstMSCats";
          okBtnId = "okMSCats";
          allBtnId = "allMSCats";
          clrBtnId = "clearMSCats";
          break;
      case SearchTypeEnum.MSSubAdv:
          textFieldId = "searchMSSubAdvInput";
          lstBtnId = "lstMSSubAdvs";
          okBtnId = "okMSSubAdvs";
          allBtnId = "allMSSubAdvs";
          clrBtnId = "clearMSSubAdvs";
          break;
      case SearchTypeEnum.MgrName:
          textFieldId = "searchMgrInput";
          lstBtnId = "lstMgrName";
          okBtnId = "okMgrName";
          allBtnId = "allMgrName";
          clrBtnId = "clearMgrName";
          break;
      default:
          console.log("--- [ERROR] wrong type in animateButtonsFor(): " + searchTypeEnum);
          return;
      }

      if (isShowing) {
          document.getElementById(textFieldId).className += " active";
          document.getElementById(lstBtnId).style.display = "none";
          document.getElementById(clrBtnId).style.display = "none";
          document.getElementById(okBtnId).style.display = "inline-block";
          document.getElementById(allBtnId).style.display = "inline-block";
      } else {
          document.getElementById(okBtnId).style.display = "none";
          document.getElementById(allBtnId).style.display = "none";
          document.getElementById(textFieldId).classList.remove("active");
          document.getElementById(lstBtnId).style.display = "inline-block";
          document.getElementById(clrBtnId).style.display = "inline-block";
      }
}

function autocomplete(searchTypeEnum, inp, words) { 
    // inp: the text field, words: array of possible autocompleted values
    inp.addEventListener("input", function(e) {
        currSearchType = searchTypeEnum;
        var a, b, c, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;

        animateButtonsFor(searchTypeEnum, true);

        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        this.parentNode.appendChild(a); /*append DIV as a child of autocomplete container:*/

        // the scroll container for search result list
        c = document.createElement("DIV");
        c.setAttribute("class", "vertical-menu");
        c.setAttribute("id", "autocompleteMenuDiv");
        a.appendChild(c);

        for (i = 0; i < words.length; i++) {
            /* matching ALL substrings from the list, not just the begining */
            var w = 0, v = 0, startIndex = 0, ignoreChars = 0;
            var space = ' ', dot = '.';
            var inpt = val.toLowerCase()
            var word = words[i].toLowerCase();
            var isInputMiddleName = inpt.includes(dot)
            while (w < word.length && v < inpt.length) {
                if (word[w] == inpt[v]) {
                    if (v == 0) { startIndex = w; }
                    // check if skipping the middle name match: middleName: _X._
                    if (!isInputMiddleName && inpt[v] == space && word[w] == space &&
                        v < inpt.length - 1 && w + 2 < word.length && word[w + 2] == dot) {
                        ignoreChars = 3;
                        w += 3;
                    }
                    v += 1;
                } else {
                    v = 0; // no match, start over;
                }
                w += 1;
            }
            if (v == inpt.length) { // find a full match of input string
                var targetName = words[i];
                divB = document.createElement("DIV");

                if (word[startIndex] == inpt[0] && word[w - 1] == inpt[v - 1]) { // substring match, NO subsequence match;
                    divB.innerHTML = targetName.substr(0, startIndex);
                    divB.innerHTML += "<strong>" + targetName.substr(startIndex, v + ignoreChars) + "</strong>";
                    divB.innerHTML += targetName.substr(startIndex + v + ignoreChars);
                    divB.innerHTML += "<input type='hidden' value='" + targetName + "'>";

                    divB.setAttribute("id", targetName);  // show item that already selected;
                    if (searchTypeEnum == SearchTypeEnum.Advisor && selectedAdvisorNames.includes(targetName)) {
                        divB.classList.add("autocomplete-active");
                    } else
                    if (searchTypeEnum == SearchTypeEnum.MSCat && selectedMSCatNames.includes(targetName)) {
                        divB.classList.add("autocomplete-active");
                    } else
                    if (searchTypeEnum == SearchTypeEnum.MSSubAdv && selectedMSSubAdvNames.includes(targetName)) {
                        divB.classList.add("autocomplete-active");
                    } else
                    if (searchTypeEnum == SearchTypeEnum.MgrName && selectedMgrNames.includes(targetName)) {
                        divB.classList.add("autocomplete-active");
                    }

                    divB.addEventListener("click", function(e) {
                        didSelectSearchListItem(searchTypeEnum, this); // 'this' is the target div
                    });
                    c.appendChild(divB);
                }
            }
        }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
        var currList = document.getElementById(this.id + "autocomplete-list");
        if (currList) currList = currList.getElementsByTagName("div");
        if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed, increase the currentFocus variable:*/
            currentFocus++;
            addActive(currList); /*and and make the current item more visible:*/
        } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed, decrease the currentFocus variable:*/
            currentFocus--;
            addActive(currList); /*and and make the current item more visible:*/
        } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (currList) currList[currentFocus].click();
            }
        }
    });
}
function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
}
function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
}
function closeAllLists(element) {
    var autoList = document.getElementsByClassName("autocomplete-items");
    var inputTxtField = document.getElementById("searchAdvisorInput");
    for (var i = 0; i < autoList.length; i++) {
        if (element != autoList[i] && element != inputTxtField) {
            autoList[i].parentNode.removeChild(autoList[i]);
        }
    }
}
function addSelectionHightLight(targetLiId) {
    var targetLi = document.getElementById(targetLiId);
    if (targetLi) targetLi = targetLi.getElementsByTagName("li");
    targetLi.classList.add("autocomplete-active");
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    if (e.target.parentNode.id != "autocompleteMenuDiv" && e.target.id != "btnI") {
        okButtonTapped(); // close list and rm text in textField;
    }
});

function didSelectSearchListItem(searchTypeEnum, targetDiv) {
    var targetLi = targetDiv.getElementsByTagName("input")[0]
    var selectName = targetLi.value;
    var selectDiv = document.getElementById(selectName);
    switch (searchTypeEnum) {
        case SearchTypeEnum.Advisor:
            if (selectedAdvisorNames.includes(selectName)) {
                removeSelectFromAutoComplete(selectDiv, selectName, searchTypeEnum);
            } else {
                selectDiv.classList.add("autocomplete-active");
                addSelectName(selectName, searchTypeEnum);
            }
            break;
        case SearchTypeEnum.MSCat:
            if (selectedMSCatNames.includes(selectName)) {
                removeSelectFromAutoComplete(selectDiv, selectName, searchTypeEnum);
            } else {
                selectDiv.classList.add("autocomplete-active");
                addSelectName(selectName, searchTypeEnum);
            }
            break;
        case SearchTypeEnum.MSSubAdv:
            if (selectedMSSubAdvNames.includes(selectName)) {
                removeSelectFromAutoComplete(selectDiv, selectName, searchTypeEnum);
            } else {
                selectDiv.classList.add("autocomplete-active");
                addSelectName(selectName, searchTypeEnum);
            }
            break;
        case SearchTypeEnum.MgrName:
            if (selectedMgrNames.includes(selectName)) {
                removeSelectFromAutoComplete(selectDiv, selectName, searchTypeEnum);
            } else {
                selectDiv.classList.add("autocomplete-active");
                addSelectName(selectName, searchTypeEnum);
            }
            break;
        default:
            console.log("--- [ERROR] line 580: get unexpected searchTypeEnum: " + searchTypeEnum);
    }
}

function setupselectedAdvisorNames() {
    for (i in selectedAdvisorNames) {
        addSelectName(selectedAdvisorNames[i], SearchTypeEnum.Advisor);
    }
}
function setupselectedMSCatNames() {
    for (i in selectedMSCatNames) {
        addSelectName(selectedMSCatNames[i], SearchTypeEnum.MSCat);
    }
}
function setupselectedMSSubAdvNames() {
    for (i in selectedMSSubAdvNames) {
        addSelectName(selectedMSSubAdvNames[i], SearchTypeEnum.MSSubAdv);
    }
}
function setupselectedMgrNames() {
    for (i in selectedMgrNames) {
        addSelectName(selectedMgrNames[i], SearchTypeEnum.MgrName);
    }
}

function clearSearchText() {
    searchAdvisorInput.value = "";
    searchMSCatInput.value = "";
    searchMSSubAdvInput.value = "";
    searchMgrInput.value = "";
}

function addSelectName(name="notSet", searchTypeEnum) {
    var ulId = "";
    var id = 0;
    var idFieldName = "";
    var nameFieldStr = "";

    switch(searchTypeEnum) {
        case SearchTypeEnum.Advisor:
            ulId = "selectedAdvisorUl";
            idFieldName = "advId";
            nameFieldStr = "advName";
            id = idOfAdvisorName[name];
            selectedAdvisorNames.push(name);
            break;
        case SearchTypeEnum.MSCat:
            ulId = "selectedMSCatUl";
            idFieldName = "catId";
            nameFieldStr = "catName";
            id = idOfMSCatName[name];
            selectedMSCatNames.push(name);
            break;
        case SearchTypeEnum.MSSubAdv:
            ulId = "selectedMSSubAdvUl";
            idFieldName = "subId";
            nameFieldStr = "subName";
            id = idOfMSSubAdvName[name];
            selectedMSSubAdvNames.push(name);
            break;
        case SearchTypeEnum.MgrName:
            ulId = "selectedMgrUl";
            idFieldName = "mgrId";
            nameFieldStr = "mgrName";
            id = idOfMgrName[name];
            selectedMgrNames.push(name);
            break;
        default: // use Advisor
            console.log("--- [ERROR] get unexpected SearchTypeEnum in func addSelectName()");
            return;
    }
    var ul = document.getElementById(ulId);
    li = document.createElement("li");
    li.appendChild(document.createTextNode(name));

    li.setAttribute("id", searchTypeEnum + id);

    var idField = document.createElement("INPUT");
    idField.setAttribute("value", id);
    idField.setAttribute("type", "hidden");
    idField.setAttribute("name", idFieldName); // id, name are for page reloading;
    idField.setAttribute("id", idFieldName);

    var nameField = document.createElement("INPUT");
    nameField.setAttribute("value", name);
    nameField.setAttribute("type", "hidden");
    nameField.setAttribute("name", nameFieldStr);
    nameField.setAttribute("id", nameFieldStr);

    var btnIcon = document.createElement("i");
    btnIcon.setAttribute("class", "fa fa-close");
    var rmBtn = document.createElement("BUTTON");
    rmBtn.setAttribute("class", "liBtn");
    rmBtn.setAttribute("type", "button");
    rmBtn.setAttribute("id", id);
    rmBtn.appendChild(btnIcon);
    rmBtn.addEventListener('click', function(event) {
        removeLiByName(name, searchTypeEnum);
    });

    li.appendChild(idField);
    li.appendChild(nameField);
    li.appendChild(rmBtn);
    ul.appendChild(li);
}

function okButtonTapped() {
  closeAllLists();
  clearSearchText();
  animateButtonsFor(currSearchType, false);
}

function addAllButtonTapped() {
    var ul = document.getElementById("autocompleteMenuDiv");
    var items = ul.getElementsByTagName("DIV");
    for (var i = 0; i < items.length; i++) {
        didSelectSearchListItem(currSearchType, items[i]);
    }
    closeAllLists();
    clearSearchText();
    animateButtonsFor(currSearchType, false);
}

function removeLiByName(name, searchTypeEnum) {
    var lsId = '';
    var itemId = 0;
    switch (searchTypeEnum) {
        case SearchTypeEnum.Advisor:
            lsId = '#selectedAdvisorUl li';
            itemId = idOfAdvisorName[name];

            var selectedNameSet = new Set(selectedAdvisorNames); // remove duplicates
            selectedAdvisorNames = Array.from(selectedNameSet);
            for (var i = 0; i < selectedAdvisorNames.length; i++) {
                if (selectedAdvisorNames[i] == name) {
                    selectedAdvisorNames.splice(i, 1);
                    break;
                }
            }
            break;
        case SearchTypeEnum.MSCat:
            lsId = '#selectedMSCatUl li';
            itemId = idOfMSCatName[name];
            var selectedNameSet = new Set(selectedMSCatNames); // remove duplicates
            selectedMSCatNames = Array.from(selectedNameSet);
            for (var i = 0; i < selectedMSCatNames.length; i++) {
                if (selectedMSCatNames[i] == name) {
                    selectedMSCatNames.splice(i, 1);
                    break;
                }
            }
            break;
        case SearchTypeEnum.MSSubAdv:
            lsId = '#selectedMSSubAdvUl li';
            itemId = idOfMSSubAdvName[name];
            var selectedNameSet = new Set(selectedMSSubAdvNames); // remove duplicates
            selectedMSSubAdvNames = Array.from(selectedNameSet);
            for (var i = 0; i < selectedMSSubAdvNames.length; i++) {
                if (selectedMSSubAdvNames[i] == name) {
                    selectedMSSubAdvNames.splice(i, 1);
                    break;
                }
            }
            break;
        case SearchTypeEnum.MgrName:
            lsId = '#selectedMgrUl li';
            itemId = idOfMgrName[name];
            var selectedNameSet = new Set(selectedMgrNames); // remove duplicates
            selectedMgrNames = Array.from(selectedNameSet);
            for (var i = 0; i < selectedMgrNames.length; i++) {
                if (selectedMgrNames[i] == name) {
                    selectedMgrNames.splice(i, 1);
                    break;
                }
            }
            break;
        default:
            console.log("--- [ERROR] removeLiById unexpected searchType: " + searchTypeEnum);
            return;
    }
    var lis = document.querySelectorAll(lsId);
    var liId = searchTypeEnum + itemId;
    for(var i=0; li=lis[i]; i++) {
        if(li.id == liId) {
            li.parentNode.removeChild(li);
            return;
        }
    }
}

function clearSelectedAdvisorList() {
    var ul = document.getElementById("selectedAdvisorUl");
    ul.innerHTML = "";
    selectedAdvisorNames = [];
}
function clearSelectedMSCatList() {
    var ul = document.getElementById("selectedMSCatUl");
    ul.innerHTML = "";
    selectedMSCatNames = [];
}
function clearSelectedMSSubAdvList() {
    var ul = document.getElementById("selectedMSSubAdvUl");
    ul.innerHTML = "";
    selectedMSSubAdvNames = [];
}
function clearSelectedMgrList() {
    var ul = document.getElementById("selectedMgrUl");
    ul.innerHTML = "";
    selectedMgrNames = [];
}


function openTab(evt, tabId) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  var showDiv = document.getElementById(tabId);
  if (showDiv) {
    showDiv.style.display = "block";
  }
  evt.currentTarget.className += " active";
}


function submitButtonTapped() {
    animateActivityIndicator();
}

function clearAllButtonTapped() {
    clearSelectedAdvisorList();
    clearSelectedMSCatList();
    clearSelectedMSSubAdvList();
    clearSelectedMgrList();
}


</script>

    </navleft>


    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'tabId01')" id="defaultOpenBtn">Default</button>
      <button class="tablinks" onclick="openTab(event, 'tabId02')">Sub-Advisory</button>
      <button class="tablinks" onclick="openTab(event, 'tabId03')">Performance</button>
      <button class="tablinks" onclick="openTab(event, 'tabId04')">Tab04</button>
      <button class="tablinks" onclick="openTab(event, 'tabId05')">Tab05</button>
    </div>

    <script type="text/javascript">
      document.getElementById("defaultOpenBtn").click();  // default selected tab
    </script>
    
    <div class="tablecontainer">

        <div id="tabId01" class="tabcontent" style="display:block;">
            <table style="margin:0 auto; float:left;">
                <thead>
                    <tr>
                    {% for col in colnames %}
                        <th><div>{{ col }}</div></th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody style="height:90vh;">
                    {% for row in companys %}
                    <tr>
                        <td style="width:20px; text-align:center; padding-left: 10px;">{{ forloop.counter }}</td>
                        {% for c in row %}
                          {% if forloop.counter == 1 %}
                            <td class="width_xl">{{ c | default_if_none:"n/a" }}</td>
                          {% elif forloop.counter == 2 %}
                            <td class="width_xl">{{ c | default_if_none:"n/a" }}</td>
                          {% elif forloop.counter >= 4 and forloop.counter <= 6 %}
                            <td class="width_s">{{ c | default_if_none:"n/a" }}</td>
                          {% elif forloop.counter == 9 %}
                            <td class="width_m">{{ c | default_if_none:"n/a" }}</td>
                          {% elif forloop.counter == 33 %}
                            <td class="width_m">{{ c | default_if_none:"n/a" }}</td>
                          {% elif forloop.counter == 55 %}
                            <td class="width_xl">{{ c | default_if_none:"n/a" }}</td>
                          {% else %}
                            <td class="width">{{ c | default_if_none:"n/a" }}</td>
                          {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>        
        </div>

        <div id="tabId02" class="tabcontent">
            <table style="margin:0 auto; float:left;">
                <thead>
                    <tr>
                        <th><div>No.</div></th>
                        <th><div>Name</div></th>
                        <th><div>MSSubAdv</div></th>
                    </tr>
                </thead>
                <tbody style="overflow-y:auto; height:90vh;">
                    {% for c in companys %}
                    <tr>
                        <td style="width:20px; padding-left: 10px;">{{ forloop.counter }}</td>
                        <td style="text-align:left;">{{ c.Name     }}</td>
                        <td style="text-align:left;">{{ c.MSSubAdv }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>        
        </div>

        <div id="tabId03" class="tabcontent" style="overflow-y:auto; width:5660px;">
            <table style="margin:0 auto; float:left;">
              <thead>
                <tr>
                  {% for col in sharesAndFundsColnames %}
                    <th><div>{{ col }}</div></th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody style="height:90vh;">
                {% for row in sharesAndFunds %}
                <tr>
                    <td style="width:20px; padding-left: 10px;">{{ forloop.counter }}</td>
                    {% for item in row %}
                      {% if forloop.counter == 1 %}
                        <td class="performance-float" style="width:260px; text-align:left;">{{ item }}</td>
                      {% elif forloop.counter == 2 %}
                        <td class="performance-float" style="width:120px; text-align:left;">{{ item }}</td>
                      {% elif forloop.counter == 3 %}
                        <td class="performance-float" style="width:200px">{{ item }}</td>
                      {% else %}
                        {% if forloop.counter > 3 and forloop.counter < 29 %}
                          <td class="performance-float 
                              {% if item.1 == 1 %} green
                              {% elif item.1 == 2 %} white
                              {% elif item.1 == 3 %} yellow
                              {% elif item.1 == 4 %} red
                              {% endif %}
                              ">{{ item.0 | default_if_none:"n/a" }}</td>
                        {% else %}
                          <td class="performance-float">{{ item | default_if_none:"n/a" }}</td>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>        
        </div>

    </div>

</section>

</body>

{% endblock table_content %}











