{% extends "blog/base_table.html" %}

{% block content %}

<section>

    <navleft>

        <h3>Advisor Info</h3>

        {% for adv in advisors %}
            <a href="/advisor/{{ adv.Advisor }}/">{{ adv.Advisor }}</a>
        {% endfor %}

    </navleft>


    <table style="width:600px; margin:0 auto; float: left;">
        <tr>
        {% for col in colnames %}
            <th>{{ col }}</th>
        {% endfor %}
        </tr>

        {% for item in companys %}
        <tr>
            <td width="100px">{{ item.Name     }}</td>
            <td>{{ item.CUSIP    }}</td>
            <td>{{ item.SecId    }}</td>
            <td>{{ item.FundId   }}</td>
        </tr>
        {% endfor %}
    </table>
    

</section>



{% endblock content %}
